body{
    background-color: black;
    color:white;
    text-align: center;
    padding-left: 33%;
    margin-top: 8%;
  }
  h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-size: 35px;
  text-transform:uppercase;
  font-style: normal;
  margin-left: auto;
 }
  img{
    height: 50%;
    width: 100%;
    border:5px solid white;
  }
  div{
    width: 50%;
  }
  p{
    font-size: 20px;
  }
  @media (min-width:250px) and (max-width:750px) {
       body{
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 50%;
        text-align: center;
        }
        img{
          height: 100%;
          width: 100%;
          border:5px solid white;
        }
        div{
          width: 100%;
        }
        h1{
          font-weight: 300px;
          font-size: 22px;
          text-align: center;
        }
        p{
          font-size: 15px;
          text-align: center;
        } 
      }
    
